<h1 class="text-center">Uploaded Songs</h1>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @musics.each do |music| %>
        <tr>
          <td><%= music.title %></td>
          <td><%= music.artist %></td>
          <td>
            <%= link_to 'View', music, class: 'btn btn-info' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
