<h1 class="text-center mb-5">Uploaded Songs</h1>

<div class="container">
  <table class="table table-hover table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>Title</th>
        <th>Artist</th>
        <th class="text-center">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @musics.each do |music| %>
        <tr>
          <td><%= music.title %></td>
          <td><%= music.artist %></td>
          <td class="text-center">
            <%= link_to 'View', music, class: 'btn btn-info btn-sm' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
